/* Custom Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url('../css/genericons/genericons.css');

body {
  background: #E5E1EE;
  color: #08415C;
  -webkit-font-smoothing: subpixel-antialiased;
}

#main {
  padding-top: 5%;
  width: 100%;
}

#main h1 {
  font-weight: bold;
  font-size: 5rem;
}
#main h1 .genericon {
  margin-top: 3rem;
}
#main p, #work p {
  font-size: 1.8rem;
  font-weight: 100;
  font-family: Calluna, serif;
  text-shadow: 0 -1px 2px rgba(255,255,255,0.4);

  /*background: linear-gradient(#53B66D, #B5FFE1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#portrait {
  overflow: hidden;
  padding-top: 5%;
  z-index: -2
}

#portrait img {
  width: 100%;
  transition: fade-in 2s;
}

.case-study {
  padding: 5rem 0;
  background-color: #B1C2E2;
  border-bottom: solid 1px #99A8C4; 
}

.case-study:last-child {
  border-bottom: none;
}

.case-study article {
  margin-top: 1rem;
}

#work img {
  max-width: 100%;
  border: solid 5px rgba(0,0,0,0.25);
  border-radius: 3px;
}

/* Only mobile */
@media (max-width: 1040px) {
  .case-study article {
    position: relative !important; 
  }
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #main {
    width: 80%;
  }
  #portrait {
    width: 80%;
  }
  #portrait img {
    width: 60%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  header {
    height: 100vh;
  }  
  #main {
    width: 45%;
  }
  #portrait {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: auto;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 50%;
    min-height: 500px;

  }
  #portrait img {
    height: 100%;
    width: auto;
    position: relative;
    left: 100%;
    margin-left: -200%;
  }
  .case-study article {
    padding-right: 2%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  #main {
    width: 45%;
    padding:6% 0;
  }
  #main p {
    font-size: 2rem;
  }  
  #portrait {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: auto;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 50%;
    min-height: 600px;

  }
  #portrait img {
    height: 100%;
    width: auto;
    position: relative;
    left: 100%;
    margin-left: -200%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #main {
    width: 40%;
    padding:8% 5%;
  }

  #portrait {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: auto;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 50%;
    min-height: 700px;

  }
  #portrait img {
    height: 100%;
    width: auto;
    position: relative;
    left: 100%;
    margin-left: -200%;
  }

}